body{
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Karla', sans-serif;
    color: rgb(109, 104, 104);
    font-weight: 600;
    font-size: medium;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 193, 116), rgb(245, 43, 7));
    padding: 15px 40px;
    color: white;
    font-weight: 700; 
    border-radius: 25px;
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.photo-size{
    width: 30%;
}